<%-include('../../views/layoutes/headeradmin.ejs')%>


<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            edit Products
        </h2>

        <div class="container">
            <!-- General elements -->

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <form action="" method="post" enctype="multipart/form-data">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Name</span>
                        <input required
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="text" name="name" value="<%= product.name %>" />
                    </label>

                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Price</span>
                        <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="number" name="price" value="<%= product.price %>"  />

                    </label>

                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400"> category </span>
                        <h3></h3>
                        <select name="categoryname"
                            
                            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                          
                           <option value="<%=product.category%>"><%=product.category%></option>
                            <% for(let i=0;i<category.length;i++){ %>
                                <%  if(product.category!=category[i].name){ %>
                                    <option  value="<%= category[i].name %>">
                                        <%= category[i].name %>
                                    </option>
                                    <% } %>
                                    <%}%>
                                 
                                    
                           


                        </select>
                    </label>
               <% for(let i=0;i<product.image.length;i++){  %>
                    
                        <span class="text-gray-700 dark:text-gray-400">Image</span>
                       <a href="/admin/deleteimage?id=<%= product.image[i] %>&idpp=<%= product._id %> " style="background-color:red;" >DELETE<img style="width: 60px; height: 60px;" src="<%= product.image[i] %>"
                        alt=""></a>
                   <%}%>

                   <label class="block text-sm">
                    <input accept="image/*"
                            class="   block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="file" name="image" multiple value="<%= product.image %>" />
                    </label>

                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Discription</span>
                        <input type="text" name="discription" value="<%= product.discription %>" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </label>
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">stock</span>
                        <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="number" name="stock" value="<%= product.stock %>"  />

                    </label>



                    <br />
                    <% if(typeof message !==  "undefined" ){ %>

                        <span style="color: rgb(211, 22, 22);">
                          <%= message %>
                        </span>
                        <% } %>
                    <button type="submit"
                        class="block w-50 px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Add New Products
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

