<%- include('../layoutes/header.ejs') %>


	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="index.html">Home</a></span> / <span>Shopping Cart</span></p>
				</div>
			</div>
		</div>
	</div>


	<div class="colorlib-product">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-md-10 offset-md-1">
					<div class="process-wrap">
						<div class="process text-center active">
							<p><span>01</span></p>
							<h3>Shopping Cart</h3>
						</div>
						<div class="process text-center">
							<p><span>02</span></p>
							<h3>Checkout</h3>
						</div>
						<div class="process text-center">
							<p><span>03</span></p>
							<h3>Order Complete</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-pb-lg">
				<div class="col-md-12">
					<div class="product-name d-flex">
						<div class="one-forth text-left px-4">
							<span>Product Details</span>
						</div>
						<div class="one-eight text-center">
							<span style="padding-right:30px;">Price</span>
						</div>
						<div class="one-eight text-center">
							<span>Quantity</span>
						</div>
						<div class="one-eight text-center">
							<span>Total</span>
						</div>
						<div class="one-eight text-center px-4">
							<span>Remove</span>
						</div>
					</div>
					

							<% for(let i=0;i<product.length;i++){ %>
								<form >
									<div class="product-cart d-flex">
										<div class="one-forth">
											<div class="product-img pt-3">
												<img style="width: 60px; height: 60px;"
													src="../img/<%= product[i].productId.image[0] %>" alt="">
											</div>
											<div class="display-tc">
												<h3>
													<%= product[i].productId.name %>
												</h3>
											</div>
										</div>
										<div class="one-eight text-center">
											<div class="display-tc">
												<span class="price">
													<%= product[i].price %>
												</span>
											</div>
										</div>
										<div class="input-group mt-4" style="width: 150px;">
											<span class="input-group-btn">
												<button type="button" class="quantity-left-minus btn" onclick="changecount('<%=product[i]._id%>',-1,'<%=product[i].count%>')" data-type="minus" data-field="">
											   <i class="icon-minus2"></i>
												</button>
												</span>

											<input style="width: 50px;" type="number" id="quantity" name="count"
												class="form-control input-number" value="<%=product[i].count %>" min="1"
												max="100">

											<span class="input-group-btn ml-1">
												<button type="button" class="quantity-right-plus btn"
													onclick="changecount('<%= product[i]._id%>',1,'<%=product[i].count +1%>')" data-type="plus"
													data-field="">
													<i class="icon-plus2"></i>
												</button>
											</span>
										</div>
										<div class="one-eight text-center">
											<div class="display-tc">
												<span class="price">
													<%=product[i].price*product[i].count %>
												</span>
											</div>
										</div>
										<div class="one-eight text-center">
											<div class="display-tc">
												<a href="/deletecart?id=<%= product[i].productId._id %>&userid=<%= userId %>" class="closed"></a>
											</div>
										</div>
									</div>
									<%}%>


				</div>
			</div>
			<div class="row row-pb-lg">
				<div class="col-md-12">
					<div class="total-wrap">
						<div class="row">
							
							<div class="col-sm-4 text-center">
								<div class="total">
									<div class="sub">
										<p><span>Subtotal:</span> <span>$0.00</span></p>
										<p><span>Delivery:</span> <span>$0.00</span></p>
										<p><span>Discount:</span> <span>$0.00</span></p>
									</div>
									<div class="grand-total">
										<p><span><strong>Total:</strong></span> <span>
												<%= Total %>
											</span></p>
									</div>
								</div>
								<div class="col-md-12 text-center">
									<p><a href="/checkout" class="btn btn-primary">Proceed To Checkout</a></p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Related Products</h2>
				</div>
			</div>
			<div class="row">
				<% for(let i=0;i<4;i++){ %>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="/product?id=<%= relproduct[i]._id %>" class="prod-img">
								<img src="img/<%= relproduct[i].image[0] %>" class="img-fluid"
									alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2>
									<%= relproduct[i].name %>
								</h2>
								<span class="price">
									<%= relproduct[i].discription %>
								</span>
								<h2><a href="#"></a>$<%= relproduct[i].price %>
								</h2>
							</div>
						</div>
					</div>
					<% } %>
				
			</div>
		</div>
	</div>

	<footer id="colorlib-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4>About Footwear</h4>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
						unorthographic life</p>
					<p>
					<ul class="colorlib-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Customer Care</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">Contact</a></li>
						<li><a href="#">Returns/Exchange</a></li>
						<li><a href="#">Gift Voucher</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Special</a></li>
						<li><a href="#">Customer Services</a></li>
						<li><a href="#">Site maps</a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Information</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Delivery Information</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Order Tracking</a></li>
					</ul>
					</p>
				</div>

				<div class="col footer-col">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Exhibitions</a></li>
					</ul>
				</div>

				<div class="col footer-col">
					<h4>Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="#">yoursite.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
								href="http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
	<script>

		function changecount(id,count,tcount) {
			console.log(count)
			console.log(id)
			$.ajax({
				url: '/changeCount',
				method: 'post',
				data: {
					id:id,
					count:count,
					tcount:tcount
				},
				success:(response) => {
					location.reload()
				}
			})
		}
	</script>
	


	<%- include('../layoutes/footer.ejs') %>
	